.outerCalendarContainer {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 8px;
  background-color: lightgray;
  width: 280px;
  margin: 40px 0 20px 0;
}

.innerCalendarContainer {
  display: inline-block;
  width: 220px;
  border-style: solid;
  border-color: lightgrey;
  background-color: white;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 1px;
}

button {
  background-color: none;
  border: none;
  margin-left: 3px;
}

.dateRangeInput {
  display: inline-block;
  padding: 8px 12px;
}

.searchIcon {
  display: inline-block;
  padding: 0 15px;
}