.desktopEmailAttachment {
  float: right;
}

.desktopTableRow {
  border-bottom:1pt solid lightgray;
  cursor: pointer;
}

.desktopTableRow:hover {
  color: blue;
  background-color: #F5F5F5;
}

.desktopDate {
  font-weight: bold;
}
